.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-background.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
  text-align: center;

  &__title {
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: getColor('brand-tetriary');
    margin-bottom: 30px;
    letter-spacing: 0.06em;
  }
}
