.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__icon {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 100%;
    fill: getColor('icons');
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: getColor('brand-primary');
      fill: getColor('brand-tetriary');
    }
    &--dark {
      background: rgba(255, 255, 255, 0.1);
      fill: getColor('brand-tetriary');
    }
  }
}
