.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__icon {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 100%;
    fill: getColor('icons');
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: getColor('brand-primary');
      fill: getColor('brand-tetriary');
    }
    &--dark {
      background: rgba(255, 255, 255, 0.1);
      fill: getColor('brand-tetriary');
    }
  }
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    color: getColor('brand-tetriary');
    display: block;
    text-align: center;
    margin: 60px 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .social-media {
    &__title {
      margin-top: 0;
    }
    &--gap {
      padding: 0;
    }
    &--container {
      padding-bottom: 40px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .social-media {
    &__title {
      text-align: start;
    }
    &--gap {
      padding: 0;
    }
  }
}
