.technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    background-color: getColor('background-light');
    margin-bottom: 30px;
    padding: 25px 30vw;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
  }

  &__paragraph {
    color: getColor('text-light');
    line-height: 1.71;
    margin-top: 10px;

    &--end {
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 480px) {
  .technology {
    padding: 0 15px;
    &__icon {
      padding: 25px 190px;
    }
  }
}
@media screen and (min-width: 768px) {
  .technology {
    flex-direction: row;
    padding: 0 auto;

    &__icon {
      padding: 25px 142px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .technology {
    flex-direction: row;
    gap: 30px;
    padding: 0 auto;

    &__icon {
      padding: 25px 100px;
    }

    &__title {
      text-align: start;
    }
  }
}
