.technology {
  display: flex;
  gap: 30px;

  &__icon {
    background-color: getColor('background-light');
    padding: 25px 100px;
    margin-bottom: 30px;
  }

  &__paragraph {
    color: getColor('text-light');
    line-height: 1.71;
    margin-top: 10px;
  }
}
