.address {
  display: inline-flex;
  flex-direction: column;
  text-align: center;

  &--top {
    margin-top: 12px;
  }
  &__info {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    color: getColor('brand-tetriary');
    letter-spacing: 0.03em;
    margin-top: 8px;

    &--link {
      @extend .address__info;
      opacity: 0.6;
    }
  }
}
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__original {
    border: none;
    outline: none;
    background-color: transparent;
    width: 85vw;
  }
  &__look {
    font-weight: 400;
    font-size: 16px;
    line-height: 1, 25;
    color: rgba(255, 255, 255, 0.6);

    &::placeholder {
      @extend .newsletter__look;
    }
  }
  &__email {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin: 0 15px 20px 15px;
  }
}

@media screen and (min-width: 480px) {
}
.newsletter {
  &__original {
    max-width: 330px;
  }
}

@media screen and (min-width: 768px) {
  .address {
    text-align: center;
  }
  .newsletter {
    &__original {
      max-width: 430px;
    }

    &__email {
      margin: 0 0 20px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: start;

    &--top {
      margin-top: 11px;
    }
    &__info {
      margin-top: 9px;
    }
  }
  .newsletter {
    display: block;

    &__original {
      max-width: 330px;
    }

    &__email {
      margin: 0 12px 0 0;
    }
  }
}
