.section {
  padding-top: 60px;
  padding-bottom: 60px;

  &__technology {
    padding-bottom: 0;
  }
  &--light {
    background-color: getColor('background-light');
  }
  &--dark {
    background-color: getColor('background-dark');
  }
}

%flex-center {
  display: flex;
  justify-content: center;
}
.container {
  max-width: 70vw;
  margin: 0 auto;

  &--header {
    @extend %flex-center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    padding: 10px 0 15px;
  }
  &--footer {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__buttons {
    @extend %flex-center;
    gap: 8px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    &__technology {
      padding-bottom: 0;
    }
  }
  .container {
    max-width: 1200px;

    &--header {
      @extend %flex-center;
      justify-content: space-between;
      border-bottom: 1px solid #ececec;
    }

    &--footer {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
