.section {
  padding: 60px 0;

  &__technology {
    padding-bottom: 0;
  }
  &--light {
    background-color: getColor('background-light');
  }
  &--dark {
    background-color: getColor('background-dark');
  }
}

%flex-center {
  display: flex;
  justify-content: center;
}
.container {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;

  &--header {
    @extend %flex-center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
  }
  &--footer {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__buttons {
    @extend %flex-center;
    gap: 8px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }

  .container {
    max-width: 1200px;

    &--footer {
      flex-wrap: nowrap;
    }
  }
}
