.logo {
  font-family: getFont('brand');
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.17;
  color: getColor('brand-primary');

  &--dark {
    color: getColor('brand-secondary');
  }
  &--light {
    color: getColor('brand-tetriary');
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
