.menu-mobile__button {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-mobile_button {
    display: none;
  }
}

.menu-mobile:hover,
.menu-mobile:focus {
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 70px;
  background-color: blueviolet;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-mobile__butt {
  position: absolute;
  top: 15px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  fill: blue;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 16px;
  right: 16px;
}

.menu-mobile__links {
}
.menu-mobile__link {
  font: getFont('main');
  color: getColor('text-primary');
  font-weight: 500;
  font-size: 40px;
  line-height: 1, 17;
}
