.container {
  &__title-l {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  &__title-s {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;

    &--footer {
      color: getColor('brand-tetriary');
      margin: 60px 0 20px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    &__title-l {
      font-size: 36px;
    }

    &__title-s--footer {
      margin: 12px 0 20px;
      display: block;
    }
  }
}
